body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: absolute;
}
